img.link_img{
	-webkit-transform:scale(1.0); /*Webkit: Scale down image to 0.8x original size*/
  -moz-transform:scale(1.0); /*Mozilla scale version*/
  -o-transform:scale(1.0); /*Opera scale version*/
  -webkit-transition-duration: 0.5s; /*Webkit: Animation duration*/
  -moz-transition-duration: 0.5s; /*Mozilla duration version*/
  -o-transition-duration: 0.5s; /*Opera duration version*/
}

img.link_img:hover{
	-webkit-transform:scale(1.1); /*Webkit: Scale up image to 1.2x original size*/
 	-moz-transform:scale(1.1); /*Mozilla scale version*/
 	-o-transform:scale(1.1); /*Opera scale version*/
}